<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.assignment1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReactionTimerActivity"
            android:label="@string/title_activity_reaction_timer" >
        </activity>
        <activity
            android:name=".NumberOfBuzzerActivity"
            android:label="@string/title_activity_number_of_buzzer" >
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name=".TwoBuzzerActivity"
            android:label="@string/title_activity_two_buzzer" >
        </activity>
        <activity
            android:name=".ThreeBuzzerActivity"
            android:label="@string/title_activity_three_buzzer" >
        </activity>
        <activity
            android:name=".FourBuzzerActivity"
            android:label="@string/title_activity_four_buzzer" >
        </activity>
        <activity
            android:name=".TwoBuzzerRecordActivity"
            android:label="@string/title_activity_two_buzzer_record" >
        </activity>
        <activity
            android:name=".ThreeBuzzerRecordActivity"
            android:label="@string/title_activity_three_buzzer_record" >
        </activity>
        <activity
            android:name=".FourBuzzerRecordActivity"
            android:label="@string/title_activity_four_buzzer_record" >
        </activity>
        <activity
            android:name=".ReactionRecordActivity"
            android:label="@string/title_activity_statement" >
        </activity>
        <activity
            android:name=".Data"
            android:label="@string/title_activity_data" >
        </activity>
        <activity
            android:name=".Datasave"
            android:label="@string/title_activity_datasave" >
        </activity>
        <activity
            android:name=".do_statement"
            android:label="@string/title_activity_do_statement" >
        </activity>
    </application>

</manifest>
